.none{

    display: none !important;
}


/* .l-right {

        float: left!important;
        padding: 1em 0!important;
        width: 100%!important;

    }  


    .m-c2 {
        display: inherit!important;
    }


    .l-l {
        width: 100%!important;
    } */